[Desktop Entry]
Type=Application
Version=0.1
Encoding=UTF-8
Name=Wifi QR
Comment=Wifi share with QR Code
Exec=wifi-qr
Icon=wifi-qr
Keywords="QR; Wifi; Password; Share;"
Terminal=false
Categories=GNOME;Utility;
Actions=QRScan;QRCreate;

[Desktop Action QRScan]
Name=Wifi QR Scan
Exec=sh -c 'wifi-qr q'
Terminal=false

[Desktop Action QRCreate]
Name=Wifi QR Create
Exec=sh -c 'wifi-qr c'
Terminal=false
