[Desktop Entry]
Type=Application
Version=0.1
Encoding=UTF-8
Name=Wifi QR
Comment=Wifi share with QR Code
Exec=sh -c 'pkexec wifi-qr g'
Icon=wifi-qr
Keywords="QR; Wifi; Password; Share;"
Terminal=false
Categories=GNOME;Utility;
